:root{
    --primarycolor :linear-gradient(90deg, rgba(9,121,26,1) 54%, rgba(255,201,0,1) 89%);
}
body{
    background-color:  rgb(247, 236, 222);
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    position: relative;
    z-index: 2222222222;
}
h1::after{
    z-index: -111;
    content:"";
    position: absolute;
    background-color: rgb(255, 201, 107);
    width: 20%;
    height: 20%;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    transition: all 0.6s;
}
h1:hover::after{
    height: 50%;
}
.title{
background: linear-gradient(90deg, rgba(9,121,26,1) 48%, rgba(255,201,0,1) 75%);;
-webkit-background-clip: text;
background-clip: text;
color: transparent;
}
h3{
   font-family:  'Righteous', cursive;
   font-size: 1.8rem
}
.dotted-line {
    border-top: 3px dotted #000000;
    width: 100%;
}
form input{
    height: 1.8rem;
}
form input:focus {
    border-color: none; 
}
.bg-orange{
    background-color: #bb4210 !important;
}
.btn:hover {
    opacity: 0.8 !important;
}